<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Data</title>
  </head>
  <body>
    <h1>This is students data</h1>

    <table border="1">
      <thead>
        <tr>
          <th>SN</th>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for students in students  %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{students.name }}</td>
          <td>{{students.age }}</td>
          <td>{{students.email }}</td>
        </tr>
      </tbody>
        {% endfor %}
    </table>
  </body>
</html>
